*{
margin: 0%;
padding: 0%;
box-sizing: border-box;

}

.quadrado {
    width: 200px;
    height: 200px;
    background-color: brown;

}

.circulo {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border-radius: 50%;

}